/* CSS Document */
body {
	margin: 15px auto;
	padding: 0;
	text-align: center; /* hack para o IE */
	background: url(../../imagens/bg_geral.jpg) no-repeat;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}
select{
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}
h3{
 display: block;
 text-align: center;
 background-color: #054b87;
 color: #FFF;
 margin: 0px;
 padding: 8px;
}
label{
	display: bolck;
	text-align: left;
	float: left;
	margin: 3px;
}
span{
	font-weight: bold;
}
#tudo {
	width: 760px;
	margin: 0 auto;
	text-align: center;
}
#login{
	border: solid 1px #CCCCCC;
	background-color: #FFFFFF;
	width: 400px;
	height: 100px;
}
#titulo{
	font: bold 1.1em/2em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
}
#tituloLogin{
	background-color: #054b87;
	font: bold 1.1em/1.2em Verdana, Arial, Helvetica, sans-serif;
	color: #FFF;
	text-align: center;
}
.textoLogin{
	font: bold .75em/1em Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}
.formulario{
	font: normal .9em/1em Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #DDDDDD;
	margin-bottom: 3px;
}
.btnEntrar{
	margin: 10px 0 10px 65px;
	font: normal .9em/1em Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #DDDDDD;
}
.btnSair{
	margin: 10px 0 10px 0;
	font: normal .9em/1em Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #DDDDDD;
}
#copy{
	padding: 5px;
	width: 750px;
	text-align: center;
	font: normal .65em/1em Verdana, Arial, Helvetica, sans-serif;
}
#aviso{
    text-align: left;
    margin: 5px;
    width: 100%;
}
#aviso p{
    color: #000;
    margin: 0px 5px 5px;
}
#aviso h2{
    font: bold 12px Verdana, Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 0px;
}
#rodape{
    border-top: 1px solid #000;
    font: bold 8px Verdana, Arial, Helvetica, sans-serif;
    margin: 0px 5px;
}
#rodape p{
    color: #000;
    margin: 0px;
}
#botao{
    text-align: center;
}
