html, body {height:100%;}
img{
	border:none;
	padding:0;
	margin: 0;
} 
body {
	margin:0; 
	padding:0;
	background:#ddd;
	color:#666;
	font:75%/1.4 Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	}
#tudo { 
	width:1280px;
	position:relative;  /*Contexto de posicionamento */
	background:#fff;
	margin:0 auto;
	text-align:left;
	min-height:100%;
	border:dotted #999;
	border-width:0 1px;
	}
* html #tudo {height: 100%;}
#conteudo {padding-bottom: 28px;}
#conteudo140 {padding-bottom: 140px;}

/********** Topo **********/
#topo {
	/*background:#cfc;
	border-bottom:1px dotted #999;
	*/
	width:100%;
	height:100px;	
	text-align:center;
	padding-top:1px;
}

#header{
  position: relative;
  width: 100%;
  z-index: 2;
  clear: both;
}
#header-1{
  height: 24px;
}
#icones-header-1{
  width: 100%;
  margin: 0 auto;
  height: 24px;
}
#icones-header-1 img{
  float: right;
  margin-left: 25px;
  margin-top: 3px;
  margin-right: 15px;
}
#header-2{
  background: url("../imagem/layout/bg-topo.png") no-repeat;
  width: 100%;
  height: 68px;
  z-index:2;
}
#header2-conteudo{
  width: 100%;
  margin: 0 auto;
}
#header-logo img{
  position: relative;
  top: -25px;
  left: 12px;
  float: left;
  width: 285px;
  height: 113px;
}
#header-menu{
  position: relative;
  width: 100%;
}
#header-menu ul {
  padding:0px;
  margin:0px;
  list-style:none;
}
#header-menu ul li {
  display: inline;
  top: 20px;
  position: relative;
  font-family: Verdana;
  font-size: 11px;
  font-weight: bold;
  margin-right: 25px;
}
#header-menu ul li a {
  padding: 2px 7px;
  display: inline-block;

  /* visual do link */
  color: #FFF;
  text-decoration: none;
}
#header-menu ul li a:hover {
  color: #FAA732;
}
/********** Topo **********/

/********** Banner **********/
#banner{
  width: 100%;
  height: 483px;
  position: relative;
  clear: both;
  top: -50px;
}
#bg-banner-esquerda{
  background: url("../imagem/layout/bg-banners-esquerda.png") no-repeat;
  height: 483px;
  width: 186px;
  float: left;
}
#bg-banner-meio{
  background-color: #ddd;
  height: 483px;
  width: 908px;
  float: left;
}
#bg-banner-direita{
  background: url("../imagem/layout/bg-banners-direita.png") no-repeat;
  height: 483px;
  width: 186px;
  float: left;
}
/********** /Banner **********/

/********** Cursos **********/
#cursos{
  background: url("../imagem/layout/bg-cursos.png") no-repeat;
  width: 100%;
  height: 225px;
  position: relative;
  top: -80px;
}
#cursos ul{
  width: 100%;
  margin: 30px 1px;
}
#cursos ul li{
  list-style-type: none;
  float: left;
  height: 53px;
  width: 30%;
  position: relative;
  font-style: italic;
}
#cursos ul li a{
  font-size: 16px;
  color: #000;
}
#cursos ul li a:hover{
  color: #FAA732;
}
/********** /Cursos **********/

#principal {
	/*width:510px;
	padding-left:20px;
	padding-top:10px;
	text-align:justify;
	float:left;
	*/	
}
#auxiliar {
	width:200px;
	float:right;
	padding-top:10px;
	}

/*ul {
	width:190px;
	margin:0;
	padding:0;
	list-style:none;
	}
ul li {margin:1px 0; }
ul li a, ul li a:visited {
	height:1%;
	font:12px Arial, Helvetica, sans-serif;
	display:block;
	background:#060;
	color:#fff;
	text-decoration:none;
	padding:2px 10px;
	}
ul li a:hover {
	background:#9f9;
	color:#060;
	}

h1, h2, h4 { 	
	font:bold 22px Arial, Helvetica, sans-serif;
	color:#060;
	}
h4 {font-size:16px;}
*/
.clear {clear:both;}

#nav li.um {
	margin-bottom:8px;
	text-align:center;
}
/* Paginas */
.titulo {
  color: #666;
  font-size: 30px;
  font-weight: bold;
  padding: 0px;
  width: 100%;
  margin: 2% 0 2% 0;
  position: relative;
  left: -250px;
  text-shadow: 3px 3px 5px #666666;
}

.contato-titulo {
  color: #666;
  font-size: 30px;
  font-weight: bold;
  padding: 0 0 0 280px;
  position: relative;
}
.texto{
  font-size: 15px;
  color:#666;
  margin: 0 3%;
  text-align: justify;
}
.texto label{
  display: block;
  font-weight: bold;
  font-size: 14px;
}
.texto img {
	float: left;
	margin-right: 10px;
}
.texto a{
	color: #FAA732;
	text-decoration: underline;
}
.texto a:hover{
	color: #FAA732;
	text-decoration: none;
}
#btnBoleto a{
  color: #FFFFFF;
  text-decoration: underline;
}
#btnBoleto a:hover{
  color: #FFFFFF;
  text-decoration: none;
}
/* Final paginas */

/* Listas */
.cursos ul {
  border: medium none;
  border-radius: 0;
  margin: 30px 1px;
  width: 100%;
}
.cursos ul li {
  list-style-type: none;
  border-radius: 9px;
  float: left;
  height: 30px;
  width: 47%;
  margin-left: 3%;
}
.cursos ul li a{
  font-size: 15px;
}
.cursos ul li a:hover{
  color: #FAA732;
}

.professores ul {
  border: medium none;
  border-radius: 0;
  margin: 30px 1px;
  width: 100%;
}
.professores ul li {
  list-style-type: none;
  border-radius: 9px;
  float: left;
  height: 30px;
  width: 30%;
  margin-left: 3%;
  font-size: 15px;
}
.professores ul li a:hover{
  color: #FAA732;
  text-decoration: underline;
}

.links ul {
  border: medium none;
  border-radius: 0;
  margin: 30px 1px;
  width: 100%;
}
.links ul li {
  list-style-type: none;
  border-radius: 9px;
  float: left;
  height: 30px;
  width: 47%;
  margin-left: 3%;
  font-size: 15px;
}

.artigos ul {
  border: medium none;
  border-radius: 0;
  margin: 30px 1px;
  width: 100%;
}
.artigos ul li {
  list-style-type: none;
  border-radius: 9px;
  float: left;
  height: 30px;
  width: 47%;
  margin-left: 3%;
  font-size: 15px;
}

.fotos{

}
.fotos ul {
  border: medium none;
  border-radius: 0;
  margin: 30px 1px;
  width: 100%;
}
.fotos ul li {
  list-style-type: none;
  border-radius: 9px;
  float: left;
  height: 30px;
  width: 47%;
  margin-left: 3%;
  font-size: 15px;
}
/* Fim listas */

/* Detalhes cursos */
.divInscricao{
  display: block;
  text-align: right;
  margin-bottom: 5px;
  margin-right: 15px;
}
.detalheCurso{
  font-size: 15px;
  color:#666;
  margin: 0 3%;
}
.detalheCurso label{
  display: block;
  font-weight: bold;
  font-size: 17px;
  color: #1D476F;
}
.detalheCurso span{
  margin-bottom: 25px;
  display: block;
  text-align: justify;
}
.detalheCurso a{
  color: #1D476F;
}
.detalheCurso a:hover{
  color: #FAA732;
  text-decoration: underline;
}
/* Fim detalhes cursos */

/* Erros */
.alert-error{
  width: 1000px;
  margin: 0 auto;
  margin-top: 25px; 
}

.erroLogin{
  width: 239px;
  font-size: 13px;
  margin-left: 0px;
  margin-top: 10px;
}

.erroPreInscricao{
  width: 900px;
  font-size: 13px;
  margin-left: 0px;
}
/* Fim erros */
li > a > img{
  width: 32px;
  vertical-align: middle;
  margin-bottom: 8px;
}

a{
   color:#666;
   text-decoration:none;
}

/********** Conteúdo login-noticias-facebook **********/
#login-noticias-facebook{
  background: url("../imagem/layout/bg-noticia-login-facebook.png") no-repeat;
  width: 100%;
  height: 388px;
  position: relative;
  top: -80px;
}
#conteudo-login .controls{
  margin-left: 0px;
  margin-bottom: 15px;
}
#conteudo-login .span2{
  width: 250px;
}
#conteudo-login h4{
  color: #FFF;
  margin: 0px;
  margin-bottom: 22px;
  text-align: center;
}
#conteudo-login .btn{
  margin-bottom: 15px;
  width: 290px;
}
#conteudo-login a{
  color: #FFF;
  font-size: 13px;
}
#conteudo-login a:hover{
  color: #FFF;
  font-size: 13px;
  text-decoration:underline;
}

.error{
  margin-left: 5px;
  color: #b94a48;
}
.valid{
  color: #468847;
  width: 24px;
  height: 24px;
  background: url("../imagem/layout/valid.png") no-repeat scroll center center transparent;
  display: inline-block;
}

#conteudo-login-noticias-facebook{
  width: 94%;
  margin: 0 auto;
  position: relative;
  top: 65px;
  left: 3%;
}
#conteudo-login{
  width: 340px;
  height: 69px;
  float: left;
  position: relative;
  left: -2%;
}
#conteudo-noticia{
  width: 338px;
  height: 69px;
  float: left;
  position: relative;
}
#conteudo-noticia span{
  font-family: Verdana;
  font-size: 20px;
  font-weight: normal;
  color: #0000EE;
  border-bottom: 1px solid #FFF;
  display: block;
  width: 520px;
}
#conteudo-noticia img{
  margin-right: 10px;
}

#conteudo-noticia ul{
  width: 95%;
  margin: 0px;
}
#conteudo-noticia ul li{
  list-style-type: none;
  border-bottom: 1px solid #FFF;
  height: 53px;
  width: 520px;
}
#conteudo-noticia ul li a{
  font-size: 14px;
  color: #FFF;
}
#conteudo-noticia ul li a:hover{
  font-size: 14px;
  color: #FFF;
  text-decoration: underline;
}

.setaNoticia{
  background: url("../imagem/layout/seta-noticia.png") no-repeat center right;
  height: 53px;
  width: 13px;
  float: right;
  position: relative;
  width: 13px;
  left: -14px;
}

#conteudo-facebook{
  width: 276px;
  height: 270px;
  float: right;
  position: relative;
  background: url("../imagem/layout/bg-facebook.png") no-repeat;
  right: 2%;
}

.fb-like-box{
  margin: 16px 0 0 13px;
}

/********** /Conteúdo login-noticias-facebook **********/

/********** Rodape **********/
#rodape {
	background:#b0f1b0;
	background: url("../imagem/layout/bg-rodape.png") no-repeat;
	width:100%;
	height:136px;
	position: absolute;
	bottom: 0; /* 
	border:dotted #999;
	border-width: 1px 0;*/
	text-align:center;
	}
/*#rodape p {
	margin:0;
	font-weight:bold;
	color:#060;
	}
#footer {
  float: left;
  height: 136px;
  position: relative;
  width: 100%;
  background: url("../imagem/layout/bg-rodape.png") no-repeat;
  top: 55px;
}*/

#logo-ipecon{
  background: url("../imagem/layout/logo-ipecon-rodape.png") no-repeat;
  width: 240px;
  height: 69px;
  float: left;
  position: relative;
  top: 35px;
  left: 3%;	
}
#enderecoRodape{
  float: left;
  position: relative;
  top: 35px;
  font-family: Verdana;
  font-size: 13px;
  text-align: center;
  width: 68%;
}
#logo-puc{
  background: url("../imagem/layout/logo-puc-rodape.png") no-repeat;
  width: 161px;
  height: 94px;
  position: relative;
  float: right;
  top: 25px;
  right: 3%;
}
/********** /Rodape **********/