body{
  padding:0;
  margin:0;
  background:#FFF;
  font-family: Verdana;
}
img{
	border:none;
	padding:0;
	margin: 0;
}

/*#header{
	position:relative;
	height: 546px;
	margin: 0 auto;
	width: 100%;
	max-width:1600px;
}

#header-conteudo{
    margin: 0 auto;
	width:1000px;
	height: 136px;
}*/

#banner{
	width: 100%;
	height: 410px;
	position:absolute;
	top:131px;
}

#banner_imagem_fundo{
	position:absolute;
	top: 0;
	left: 0px;
}

.mascara_banner{
    position:absolute;
	top: 0px;
	left:0px;
	z-index:2;
	width:100%;
	height:545px;
	background:url(../imagem/layout/fundo-banner.png) no-repeat top;

}

.logo-marca{
    position:absolute;
	top:12px;
	left:0px;
	width:164px;
	height:199px;

}

#header-logomarca-menu{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	z-index:3;
	}

#header-logomarca-menu-conteudo{
	width:1000px;
	margin:0 auto;
	height:240px;
	position:relative;
	}
.menu-principal{
	background:url(../imagem/layout/menu-principal.fw.png) no-repeat;
	position:absolute;
	top: 44px;
	right: 0px;
	width: 720px;
	height: 45px;
}
.menu-principal .menu{
    width: 630px;
	height:45px;
	float:left;
}

.menu a {
    background:url(../imagem/layout/menu-separador.fw.png) no-repeat center right;
	display: block;
    float: left;
	padding: 10px 28px;
	color:#666666;
	font-size:20px;
	font-weight: bold;
}

.menu-principal .redes{
    width: 80px;
	height:45px;
	float:left;
}

.menu-principal .redes .fc{
    position: absolute;
    right: 60px;
    top: 6px;
}

.menu-principal .redes .sp{
    position: absolute;
    right: 56px;
    top: 6px;
}

.menu-principal .redes .ex{
    position: absolute;
    right: 26px;
    top: 6px;
}


.logo-marca{
    position:absolute;
	top:12px;
	left:0px;
	width:164px;
	height:199px;
	z-index: 10;
}


#conteudo-produtos{
    background:url(../imagem/layout/fundo-produtos.jpg);
	width: 100%;
	height: 320px;
	position: relative;
    top: -1px;
}

#tudo-produto{
   position:relative;
   margin: 0 auto;
   width: 1000px;
   height: 260px;
}

#produtos-colecao{
    width:680px;
	height:260px;
	position:absolute;
	top: 0px;
	left: 0px;
}

.colecao{
    position:absolute;
	top:0px;
	left: 100px;
	color:#666666;
	font-size:26px;
}

.box-produto{
    background: #960;
	width: 300px;
	height:260;
}

.mais_mais {
    position: absolute;
    right: 39px;
    top: 26px;
}

.produto {
  border: 3px solid #666666;
  border-radius: 7px;
  float: left;
  height: 220px;
  margin: 70px 13px 4px 17px;
  padding: 0;
  width: 183px;
}

.borda{
    border-radius:4px;
}

#noticias {
  float: right;
  height: 260px;
  position: relative;
  width: 295px;
}

.titulo-noticia {
  border-bottom: 3px solid #666666;
  color: #666666;
  float: left;
  font-size: 26px;
  height: 40px;
  margin: 20px 0 0;
  padding: 0;
  position: relative;
  width: 900px;
}

.titulo-noticia-meio{

}

.dta {
  border-bottom: 3px solid #666666;
  color: #FF0000;
  float: left;
  font-size: 13px;
  left: 251px;
  margin: 33px 0 0;
  padding: 5px 0;
  width: 45px;
}
.boxNews .descricao {
  float: left;
  margin: 8px 0;
  width: 100%;
}
.link-noticia{
    width:296px;
	height: 42px;
	margin:1px 0 0 0;
	padding: 0 0;
	border-bottom:dotted 2px #666666;
}

a{
   color:#666;
   text-decoration:none;
}

/********** Topo **********/
#header-1{
  height: 24px;
}
#icones-header-1{
  width: 1024px;
  margin: 0 auto;
  height: 24px;
}
#icones-header-1 img{
  float: right;
  margin-left: 25px;
  margin-top: 3px;
}
#header-2{
  background: url("../imagem/layout/bg-topo.png") no-repeat;
  width: 100%;
  height: 68px;
}
#header2-conteudo{
  width: 1024px;
  margin: 0 auto;
}
#header-logo img{
  position: relative;
  top: -25px;
  left: -15px;
  float: left;
  width: 285px;
  height: 113px;
}
#header-menu{
  position: relative;
  float: right;
  width: 735px;
}
#header-menu ul {
  padding:0px;
  margin:0px;
  list-style:none;
}
#header-menu ul li {
  display: inline;
  top: 20px;
  position: relative;
  font-family: Verdana;
  font-size: 11px;
  font-weight: bold;
}
#header-menu ul li a {
  padding: 2px 7px;
  display: inline-block;

  /* visual do link */
  color: #FFF;
  text-decoration: none;
}
#header-menu ul li a:hover {
  color: #FFFF26;
}
/********** Topo **********/

/********** Banner **********/
#banner{
  width: 100%;
  height: 225px;
  background-color: #0000ff;
}
/********** /Banner **********/

/********** Cursos **********/
#cursos{
  background: url("../imagem/layout/bg-cursos.png") no-repeat;
  width: 100%;
  height: 225px;
}
/********** /Cursos **********/

/********** Conteúdo login-noticias-facebook **********/
#login-noticias-facebook{
  background: url("../imagem/layout/bg-noticia-login-facebook.png") no-repeat;
  width: 100%;
  height: 388px;
}
#conteudo-login-noticias-facebook{
  width: 1024px;
  height: 388px;
  margin: 0 auto;
  position: relative;
  top: 65px;
}
#conteudo-login{
  width: 340px;
  height: 69px;
  float: left;
  position: relative;
  border: solid 1px #000;
}
#conteudo-noticia{
  width: 338px;
  height: 69px;
  float: left;
  position: relative;
}
#conteudo-noticia span{
  font-family: Verdana;
  font-size: 20px;
  font-weight: normal;
  color: #0000EE;
  border-bottom: 1px solid #FFF;
  display: block;
  width: 325px;
}
#conteudo-noticia img{
  margin-right: 10px;
}

.tituloNoticia{
  color: #FFF;
  display: block;
  font: normal 13px Verdana;
  border-bottom: 1px solid #FFF;
  height: 60px;
  width: 325px;
  margin: 0px;
  float: left;
}
.setaNoticia{
  background: url("../imagem/layout/seta-noticia.png") no-repeat center right;
  height: 60px;
  width: 13px;

  float: right;
}

#conteudo-facebook{
  width: 276px;
  height: 270px;
  float: right;
  position: relative;
  border: solid 1px #000;
  background: url("../imagem/layout/bg-facebook.png") no-repeat;
}

/********** /Conteúdo login-noticias-facebook **********/

/********** Rodape **********/
#footer {
  float: left;
  height: 136px;
  position: relative;
  width: 100%;
  background: url("../imagem/layout/bg-rodape.png") no-repeat;
}
#conteudoRodape{
  width: 1024px;
  height: 136px;
  margin: 0 auto;
  position: relative;
}
#logo-ipecon{
  background: url("../imagem/layout/logo-ipecon-rodape.png") no-repeat;
  width: 240px;
  height: 69px;
  float: left;
  position: relative;
  top: 35px;
}
#endereco{
  float: left;
  position: relative;
  top: 35px;
  font-family: Verdana;
  font-size: 13px;
  text-align: center;
  width: 600px;
}
#logo-puc{
  background: url("../imagem/layout/logo-puc-rodape.png") no-repeat;
  width: 161px;
  height: 94px;
  position: relative;
  float: right;
  top: 25px;
}
/********** /Rodape **********/

#objeto {
  float: right;
  margin: 43px 0 0;
  width: 200px;
}
#objeto a {
  float: right;
}
#objeto .img-objeto {
	float:left;
}
.des-objeto {
  color: #666666;
  float: right;
  font-size: 18px;
  margin: 5px 0;
}

.fb-like-box{
  margin: 16px 0 0 13px;
}

