body{
  padding:0;
  margin:0;
  background:#FFF;
  font-family: Verdana;
}
img{
	border:none;
	padding:0;
	margin: 0;
}

#header{
	position:relative;
	height: 546px;
	margin: 0 auto;
	width: 100%;
	max-width:1600px;
}

#header-conteudo{
    margin: 0 auto;
	width:1000px;
	height: 136px;
}

#banner{
	width: 100%;
	height: 410px;
	position:absolute;
	top:131px;
}

#banner_imagem_fundo{
	position:absolute;
	top: 0;
	left: 0px;
}

.mascara_banner{
    position:absolute;
	top: 0px;
	left:0px;
	z-index:2;
	width:100%;
	height:545px;
	background:url(../imagem/layout/fundo-banner.png) no-repeat top;

}

.logo-marca{
    position:absolute;
	top:12px;
	left:0px;
	width:164px;
	height:199px;

}

#header-logomarca-menu{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	z-index:3;
	}

#header-logomarca-menu-conteudo{
	width:1000px;
	margin:0 auto;
	height:240px;
	position:relative;
	}
.menu-principal{
	background:url(../imagem/layout/menu-principal.fw.png) no-repeat;
	position:absolute;
	top: 44px;
	right: 0px;
	width: 720px;
	height: 45px;
}
.menu-principal .menu{
    width: 630px;
	height:45px;
	float:left;
}

.menu a {
    background:url(../imagem/layout/menu-separador.fw.png) no-repeat center right;
	display: block;
    float: left;
	padding: 10px 28px;
	color:#666666;
	font-size:20px;
	font-weight: bold;
}

.menu-principal .redes{
    width: 80px;
	height:45px;
	float:left;
}

.menu-principal .redes .fc{
    position: absolute;
    right: 60px;
    top: 6px;
}

.menu-principal .redes .sp{
    position: absolute;
    right: 56px;
    top: 6px;
}

.menu-principal .redes .ex{
    position: absolute;
    right: 26px;
    top: 6px;
}


.logo-marca{
    position:absolute;
	top:12px;
	left:0px;
	width:164px;
	height:199px;
	z-index: 10;
}


#conteudo-produtos{
    background:url(../imagem/layout/fundo-produtos.jpg);
	width: 100%;
	height: 320px;
	position: relative;
    top: -1px;
}

#tudo-produto{
   position:relative;
   margin: 0 auto;
   width: 1000px;
   height: 260px;
}

#produtos-colecao{
    width:680px;
	height:260px;
	position:absolute;
	top: 0px;
	left: 0px;
}

.colecao{
    position:absolute;
	top:0px;
	left: 100px;
	color:#666666;
	font-size:26px;
}

.box-produto{
    background: #960;
	width: 300px;
	height:260;
}

.mais_mais {
    position: absolute;
    right: 39px;
    top: 26px;
}

.produto {
  border: 3px solid #666666;
  border-radius: 7px;
  float: left;
  height: 220px;
  margin: 70px 13px 4px 17px;
  padding: 0;
  width: 183px;
}

.borda{
    border-radius:4px;
}

#noticias {
  float: right;
  height: 260px;
  position: relative;
  width: 295px;
}

.titulo-noticia {
  border-bottom: 3px solid #666666;
  color: #666666;
  float: left;
  font-size: 26px;
  height: 40px;
  margin: 20px 0 0;
  padding: 0;
  position: relative;
  width: 900px;
}

.titulo-noticia-meio{

}

.dta {
  border-bottom: 3px solid #666666;
  color: #FF0000;
  float: left;
  font-size: 13px;
  left: 251px;
  margin: 33px 0 0;
  padding: 5px 0;
  width: 45px;
}
.boxNews .descricao {
  float: left;
  margin: 8px 0;
  width: 100%;
}
.link-noticia{
    width:296px;
	height: 42px;
	margin:1px 0 0 0;
	padding: 0 0;
	border-bottom:dotted 2px #666666;
}

a{
   color:#666;
   text-decoration:none;
}

#footer {
  float: left;
  height: 106px;
  position: relative;
  width: 100%;
}

#menu-footer {
  float: left;
  height: 40px;
  margin: 60px 0 0;
  width: 660px;
}

#menu-footer a{
    background: url("../imagem/layout/menu-footer-separador.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #666666;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 51px 2px 12px;
}

.redes-footer {
  float: left;
  margin: 60px 0 0;
}
#objeto {
  float: right;
  margin: 43px 0 0;
  width: 200px;
}
#objeto a {
  float: right;
}
#objeto .img-objeto {
	float:left;
}
.des-objeto {
  color: #666666;
  float: right;
  font-size: 18px;
  margin: 5px 0;
}



