#header-interno {
  background: url("../imagem/layout/fundo-banner-interna.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  float: left;
  height: 263px;
  margin: -20px 0 0;
  padding: 0;
  width: 100%;
  z-index: 100;
}

.centro{
   margin: 0 auto;
   width:1000px;
   height:150px;

/*   background:#666;*/
}

#pagina-interna {
    float: left;
    font-family: 'Advent Pro',sans-serif;
    margin: 0;
    min-height: 550px;
    position: relative;
    width: 100%;
}

.bloco{
    /*background: none repeat scroll 0 0 #00FF00;*/
    float: left;
    height: 133px;
    margin: 0;
    padding: 0;
    width: 223px;
}

.titulo {
  color: #666;
  font-size: 30px;
  font-weight: bold;
  padding: 0px;
  width: 100%;
  margin:0 0 30px 0;
}

.contato-titulo {
  color: #666;
  font-size: 30px;
  font-weight: bold;
  padding: 0 0 0 280px;
  position: relative;
}
.texto{
  font-size: 15px;
  color:#666;
}
.links{
  font-size: 15px;
  color:#666;
}
.artigos{
  font-size: 15px;
  color:#666;
}

/****** Lista personalisada ******/
.texto ul {
  border: medium none;
  border-radius: 0;
  margin: 30px 1px;
  width: 95%;
}
.texto ul li {
  list-style-type: none;
  border-radius: 9px;
  float: left;
  height: 30px;
  width: 33%;
}

.cursos ul {
  border: medium none;
  border-radius: 0;
  margin: 30px 1px;
  width: 100%;
}
.cursos ul li {
  list-style-type: none;
  border-radius: 9px;
  float: left;
  height: 30px;
  width: 50%;
}
.cursos ul li a:hover{
  text-decoration: underline;
}

.links ul {
  border: medium none;
  border-radius: 0;
  margin: 30px 1px;
  width: 95%;
}
.links ul li {
  list-style-type: none;
  border-radius: 9px;
  float: left;
  height: 30px;
  width: 50%;
}
.links ul li a:hover{
  text-decoration: underline;
}

.artigos ul {
  border: medium none;
  border-radius: 0;
  margin: 30px 1px;
  width: 95%;
}
.artigos ul li {
  list-style-type: none;
  border-radius: 9px;
  float: left;
  height: 30px;
  width: 50%;
}
.artigos ul li a:hover{
  text-decoration: underline;
}
/****** /Lista personalisada ******/

/* Coleções */

.produtos-total {
  float: left;
  width: 720px;
}

.produto-interno {
  border: 3px solid #666666;
  border-radius: 7px;
  float: left;
  height: 220px;
  list-style: none outside none;
  margin: 0 13px 70px 17px;
  padding: 0;
  width: 183px;
}

.tabela {
  margin: 20px 0 0;
}
.listCategory {
  float: left;
  margin: 70px 0 0 30px;
  width: 200px;
}


.menu-produtos-interno{
    color: #666666;
    font-size: 18px;
    font-weight: bold;
}

.seletor, .menu-produtos-interno:hover{
    color:#333;
}

.noticias-interna{
	margin-top:100px;
}

#noticia-mais{
    color: #FF0000;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

input{
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 1px;
    padding: 5px;
    width: 187px;
}

textarea{
 padding:5px;
 border: solid 1px #CCC;
 border-radius:5px;
}

.divisao{
  margin: 2px;
}
 .internaCtrl {
		margin:0 auto;
		width:1000px;
 }
.boxNews {
  float: left;
  width: 100%;
  display: block;
}

#conteudo-login .controls{
  margin-left: 0px;
  margin-bottom: 15px;
}
#conteudo-login .span2{
  width: 250px;
}
#conteudo-login h4{
  color: #FFF;
  margin: 0px;
  margin-bottom: 22px;
  text-align: center;
}
#conteudo-login .btn{
  margin-bottom: 15px;
  width: 290px;
}
#conteudo-login a{
  color: #FFF;
  font-size: 13px;
}
#conteudo-login a:hover{
  color: #FFF;
  font-size: 13px;
  text-decoration:underline;
}

.error{
  margin-left: 5px;
  color: #b94a48;
}
.valid{
  color: #468847;
  width: 24px;
  height: 24px;
  background: url("../imagem/layout/valid.png") no-repeat scroll center center transparent;
  display: inline-block;
}

